[submodule "dock3"]
	path = dock3
	url = https://github.com/docking-org/dock3
	branch = main
[submodule "dock3-symmetry"]
	path = dock3-symmetry
	url = https://github.com/docking-org/dock3
	branch = symmetry
[submodule "zinc22-3d"]
	path = zinc22-3d
	url = https://github.com/docking-org/zinc22-3d
	branch = main
[submodule "pydock3"]
	path = pydock3
	url = https://github.com/docking-org/pydock3
	branch = develop
[submodule "legacy3"]
	path = legacy3
	url = https://github.com/docking-org/legacy3
	branch = main
